<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.laba3_2rogova">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Laba3_2Rogova">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Laba3_2Rogova">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DisplayActivity"
            android:exported="true"
            android:theme="@style/Theme.Laba3_2Rogova" />

        <activity
            android:name=".AddRecordActivity"
            android:exported="true"
            android:theme="@style/Theme.Laba3_2Rogova" />

    </application>

</manifest>